language: csharp
mono: none
dotnet: 2.0.0
dist: trusty
script:
 - dotnet build ./dotnetcore/
 - dotnet build ./dotnetstandard/
 - dotnet build ./stellar-dotnet-sdk-test/
 - dotnet test ./stellar-dotnet-sdk-test/
 - dotnet test stellar-dotnet-sdk-test/ /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
 - bash <(curl -s https://codecov.io/bash) -t 3d1827ed-854c-484b-a639-02544eb921b8
 
