language: csharp
mono: none
dotnet: 2.1.300
dist: trusty
script:
 - dotnet restore ./stellar-dotnet-sdk.sln
 - dotnet build ./dotnetcore/
 - dotnet build ./dotnetstandard/
 - dotnet build ./stellar-dotnet-sdk-test/
 - dotnet test ./stellar-dotnet-sdk-test/
 - dotnet test stellar-dotnet-sdk-test/ /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByFile=\"../stellar-dotnet-sdk/chaos.nacl/**/*.cs,../stellar-dotnet-sdk/xdr/generated/*.cs,\"
 - bash <(curl -s https://codecov.io/bash) -t 3d1827ed-854c-484b-a639-02544eb921b8
 
