body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 768px) {
    #network-select.navbar-right {
        /* float: right !important; */
        margin-right: 0px;
    }
}


.nav-pills > li.active > a {
    background-color: transparent;
    color: #337ab7;
    border: 1px solid #337ab7;
    padding: 9px 14px;
}

.nav-pills > li.inactive > a:hover {
    background-color: transparent;
    color: #337ab7;
    border: 1px solid #337ab7;
    padding: 9px 14px;
}
